@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2>Blog Post 1: An Idiot's task...</h2>
        <ul>
            <li>Sample text</li>
        </ul>
    </div>
</div>
